<header class="jumbotron hero-spacer">
    <h1>{{WelcomeMessage}}</h1>
    <p>Your basket amounts to {{total | currency: 'EUR'}}</p>
    <p><a class="btn btn-primary btn-large" routerLink="/basket">See my basket</a></p>
  </header>
<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>Last products</h2>
  </div>
</div>
<div class="row text-center">
  <ng-container *ngIf="(listProduct$ | async ) as listProduct">
    <ng-container *ngFor="let oneProduct of listProduct | sortproduct : sortBy; let i=index">
      <ng-container *ngIf="oneProduct.stock > 0">
        <app-product [product]="oneProduct" [indexProduct]="i" (addToBasket)="onAddToBasket($event)"></app-product>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<div class="row">
  <button (click)="onSort('title')">Title</button>
  <button (click)="onSort('price')">Price</button>
  <button (click)="onSort('stock')">Stock</button>
</div>
<hr>
